@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>
    Te amo Luan.
    <br />
    <br /> 
    <a href="https://www.youtube.com/watch?v=zt4s9vbjpeU&list=RDEMjwDHXb3QrQM5iV6zycamNw&start_radio=1"> Acesse aqui!!!</a>
</p>
</p> Melhor Cantor </p>

